---
import MorphSkill from "../components/MorphSkill.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio">
  <div
    class="about-me-section-wrapper h-[88%] bg-[url('../page-bg.jpg')] bg-cover"
  >
    <div class="home-page-wrapper flex justify-around h-full">
      <div class="text-section h-full flex flex-col justify-center">
        <div class="small-about-me-section mx-8 mb-2">
          <div id="intro-text-animation" class="intro-text text-5xl"></div>
          <h4>
            a passionate frontend developer specializing in crafting seamless
            user experiences for ecommerce websites. With over 2 years of
            hands-on experience, I've honed my skills in Magento and Salesforce
            Commerce Cloud.
          </h4>
          <h4>
            When I'm not coding, you can find me playing overwatch, playing my
            guitar or out on late night bike rides :)
          </h4>
        </div>
        <div class="skills-wrapper ml-6">
          <MorphSkill />
        </div>
      </div>
      <div class="img w-[60%] flex justify-center items-center">
        <div
          class="tenor-gif-embed h-[30rem] w-[24rem] mt-12 mr-12"
          data-postid="3845002910700718184"
          data-share-method="host"
          data-aspect-ratio="1"
          data-width="100%"
        >
          <a href="https://tenor.com/view/racoon-pedro-gif-3845002910700718184"
            >Racoon Pedro GIF</a
          >from <a href="https://tenor.com/search/racoon-gifs">Racoon GIFs</a>
        </div>
        <script type="text/javascript" async src="https://tenor.com/embed.js"
        ></script>
      </div>
    </div>
  </div>
  <script
    is:inline
    src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>

  <script is:inline>
    const textField = document.getElementById("intro-text-animation");

    const typewriter = new Typewriter(textField, {
      loop: true,
      delay: 100,
    });

    typewriter
      .typeString("<h1>Hi,My name is Satish Vijay</h1>")
      .deleteAll()
      .typeString("<h1>Hi,My name is Satish Vijay</h1>")
      .deleteAll()
      .typeString("<h1>Hi,My name is Satish Vijay</h1>")
      .deleteAll()
      .start();
  </script>

  <style>
    .intro-text {
      animation:
        type 1.5s steps(90) 1.5s 1 normal both,
        cursor 1s step-end infinite;
      overflow: hidden;
      white-space: nowrap;
      background: -webkit-linear-gradient(25deg, #0d0000, #333);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    @keyframes type {
      from {
        width: 0;
      }

      to {
        width: 100%;
      }
    }

    @keyframes cursor {
      50% {
        border-color: transparent;
      }
    }
  </style>
</Layout>
