---
import Card from "../components/Card.astro";
---

<div class="about-me-section-wrapper">
  <div class="home-page-wrapper">
    <div class="small-about-me-section">
      <h2>About Me</h2>
      <div class="about-me-text">
        Lorem ipsum dolor sit amet, per no dicam partem tacimates. Eam ad clita
        suavitate corrumpit. Unum deseruisse definitionem ius te, periculis
        prodesset sea an. Quo eu fierent intellegebat delicatissimi. Cu mutat
        tibique sea, ex duo numquam legimus minimum, elit fuisset deseruisse ea
        mei.
      </div>
    </div>
  </div>
  <div class="skills-wrapper">
    <h2>My Skills</h2>
    <div class="skills-icons"></div>
  </div>
  <div class="projects-cards-wrapper flex flex-wrap justify-between">
    <Card title="Project Name" href="/" body="Project Deets" />
    <Card title="Project Name" href="/" body="Project Deets" />
    <Card title="Project Name" href="/" body="Project Deets" />
    <Card title="Project Name" href="/" body="Project Deets" />
    <Card title="Project Name" href="/" body="Project Deets" />
  </div>
</div>
