<footer class="footer-wrapper h-[7%] text-white bg-black flex justify-between">
  <div class="h-full">
    <p>
      Designed & Developed with <a href="https://astro.build/">Astro</a>
    </p>
    <p>&copy; 2024 Satish Vijay</p>
  </div>
  <p class="socials">
    <a href="https://twitter.com/me"> Twitter</a>
    <a href="https://github.com/me"> GitHub</a>
    <a href="https://codepen.io/me"> CodePen</a>
  </p>
</footer>
