<footer
  class="footer-wrapper h-[7%] text-white bg-black flex justify-between text-2xl"
>
  <div class="h-full">
    <p>
      Designed & Developed with <a href="https://astro.build/">Astro</a>
    </p>
    <p>&copy; 2024 Satish Vijay</p>
  </div>
  <p class="socials">
    <a href="https://github.com/SatishVijay18"> GitHub</a>
  </p>
</footer>
