<nav class="h-[5%] bg-black">
  <div class="nav-header flex justify-between h-full">
    <a class="nav-header-icon" href="/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="2rem"
        height="2rem"
        viewBox="0 0 24 24"
        ><path
          fill="white"
          d="M12.74 2.32a1 1 0 0 0-1.48 0l-9 10A1 1 0 0 0 3 14h2v7a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-7h2a1 1 0 0 0 1-1a1 1 0 0 0-.26-.68z"
        ></path></svg
      >
    </a>
    <div class="nav-header-links text-white text-3xl">
      <a href="/AboutMe/">About-Me</a>
      <a href="/Projects/">Projects</a>
      <a href="/ContactMe/">Contact-Me</a>
    </div>
  </div>
</nav>
