<nav class="h-[5%] bg-black">
  <div class="nav-header flex justify-between h-full">
    <div class="nav-header-icon"></div>
    <div class="nav-header-links text-white text-3xl">
      <a>About-Me</a>
      <a>Projects</a>
      <a>Contact-Me</a>
    </div>
  </div>
</nav>
